.container-form{
    margin-top: 50px !important;
    border: 1px solid powderblue;
    padding: 10px;
    box-shadow: 1px 1px 6px powderblue;
}

.container-form input, textarea{
    padding: 5px;
}

.container-form label{
    margin: 24px 0 0 0;
}

.container-form button{
    margin-top: 10px
}