.formations-title {
    font-size: 60px;
    margin: 30px 0 40px;
    text-align: center;
}

.card-formations{
    margin: 10px;
    padding: 5px !important;
}


.container-card-formations .card-text{
    padding: 10px;
  }

.row-formations {
    --bs-gutter-x: 0 !important;
}

.container-card-formations{
  width: 90% ;
  margin: auto auto 20px auto;
}