p{
    font-size: 17px;
}

.btn-primary{
    background-color: rgb(109, 209, 223) !important;
    border-color: powderblue !important;
}

.btn-primary:hover{
    background-color: rgb(26, 151, 165) !important;
    border-color: rgb(123, 174, 180) !important;
}